[submodule "com.unity.cloud.gltfast"]
	path = com.unity.cloud.gltfast
	url = https://github.com/Unity-Technologies/com.unity.cloud.gltfast
[submodule "com.unity.collections"]
	path = com.unity.collections
	url = https://github.com/needle-mirror/com.unity.collections
